.form-ctn {
    width: 300px;
    max-width: 100%;
}

.form-field {
    margin-bottom: 1rem;
    position: relative;
}

.form-field > label {
    display: block;
    margin-bottom: 0.25rem;
}

label.checkbox {
    display: inline;
}

input[type="text"] {
    padding: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    border: 2px solid var(--input-border);
    border-radius: 0.25rem;
    outline: none;
}

select {
    padding: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    border: 2px solid var(--input-border);
    border-radius: 0.25rem;
    outline: none;
}

.form-field.success input{
	border-color: var(--input-success);
}

.form-field.error input{
    border-color: var(--input-error);
}

.form-field span.material-icons {
    display: none;
}

.form-field.success span.correct {
    display: inline-block;
    color: var(--input-success);
}

.form-field.error span.incorrect {
    display: inline-block;
    color: var(--input-error);
}

.error-mssg {
    display: none;
    font-size: 0.875rem;
}

.form-field.error .error-mssg {
    display: block;
    color: var(--input-error);
}