<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <title>Avatar component</title>
</head>
<body>
    <!-- Image Avatar -->
    <h1 class="mg-sm">Avatar</h1>
    <h2 class="mg-sm">Image Avatar</h2>
    <section class="flex-ctn">
        <div class="avatar-xl mg-sm">
            <img class="br-full" src="../images/pratik.jpeg" alt="avatar">
        </div>
        <div class="avatar-lg mg-sm">
            <img class="br-full" src="../images/pratik.jpeg" alt="avatar">
        </div>
        <div class="avatar-md mg-sm">
            <img class="br-full" src="../images/pratik.jpeg" alt="avatar">
        </div>
        <div class="avatar-sm mg-sm">
            <img class="br-full" src="../images/pratik.jpeg" alt="avatar">
        </div>
    </section>

    <!-- Text Avatar -->
    <h2 class="mg-sm">Text Avatar</h2>
    <section class="flex-ctn">
        <div class="avatar-xl avatar-txt br-full mg-sm">PD</div>
        <div class="avatar-lg avatar-txt br-full mg-sm">PD</div>
        <div class="avatar-md avatar-txt br-full mg-sm">PD</div>
        <div class="avatar-sm avatar-txt br-full mg-sm">PD</div>
    </section>
</body>
</html>