@import "../../base-style.css";

.avatar-sm {
    width: 2rem;
    height: 2rem;
    font-size: 0.8rem;
}

.avatar-md {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem
}

.avatar-lg {
    width: 6rem;
    height: 6rem;
    font-size: 2.5rem;
}

.avatar-xl {
    width: 8rem;
    height: 8rem;
    font-size: 3.5rem;
}

.avatar-txt {
    background-color: var(--clr-primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}