<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="badge.css">
    <title>Badge component</title>
</head>
<body>
    <h1 class="mg-sm">Badge</h1>
    <h2 class="mg-sm">Badge on Icon</h2>
    <section class="flex-ctn">
        <div class="badge-ctn mg-sm">
            <span class="material-icons">home</span>
            <span class="badge-icon br-full">5</span>
        </div>
        <div class="badge-ctn mg-sm">
            <span class="material-icons">shopping_cart</span>
            <span class="badge-icon br-full">5</span>
        </div>
        <div class="badge-ctn mg-sm">
            <span class="material-icons">notifications</span>
            <span class="badge-icon br-full">5</span>
        </div>
    </section>
    <h2 class="mg-sm">Badge on Avatar</h2>
    <section class="flex-ctn">
        <div class="avatar-xl badge-ctn mg-sm">
            <img class="br-full" src="../images/pratik.jpeg" alt="avatar">
            <span class="badge-avatar badge-xl badge-online br-full"></span>
        </div>
        <div class="avatar-lg badge-ctn mg-sm">
            <img src="../images/pratik.jpeg" alt="avatar" class="br-full">
            <span class="badge-avatar badge-lg badge-offline br-full"></span>
        </div>
        <div class="avatar-md badge-ctn mg-sm">
            <img src="../images/pratik.jpeg" alt="avatar" class="br-full">
            <span class="badge-avatar badge-md badge-online br-full"></span>
        </div>
        <div class="avatar-sm badge-ctn mg-sm">
            <img src="../images/pratik.jpeg" alt="avatar" class="br-full">
            <span class="badge-avatar badge-sm badge-offline br-full"></span>
        </div>

    </section>
</body>
</html>