@import "../base-style.css";
@import "../components/components.css";
@import "../style.css";

/* Mobile menu btn*/
header button.mobile-sidebar-toggle{
    display: none;
    background-color: transparent;
    border-color: transparent;
    color: var(--clr-primary);
    display: none;
    cursor: pointer;
}

header button.mobile-sidebar-toggle span.material-icons{
    font-size: 3rem;
}

/* Mobile sidebar */
.mobile-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: #fff;
    display: grid;
    grid-template-rows: auto auto 1fr;
    row-gap: 1rem;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    transform: translate(-100%);
    z-index: 3;
}

.show-mobile-sidebar {
    transform: translate(0);
}

section.docs-ctn .mobile-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.mobile-sidebar-header button.mobile-sidebar-close-btn {
    background-color: transparent;
    border-color: transparent;
    color: var(--clr-primary);
    cursor: pointer;
}

button.mobile-sidebar-close-btn span.material-icons {
    font-size: 1.75rem;
}

.mobile-sidebar .home-btn a {
    color: var(--clr-primary);
    font-size: 1.5rem;
    padding-left: 1.5rem;
}

.mobile-sidebar-links h3 {
    padding: 1rem 1.5rem;
}

.mobile-sidebar-links a {
    display: block;
    padding: 1rem 1.5rem;
    color: var(--clr-txt-dark);
}

.mobile-sidebar-links a:hover {
    color: var(--clr-primary);
    background-color: var(--clr-primary-light);
}

/* Docs */
.component-box-border {
    border: 0.125rem solid #dee2e6;
    border-radius: 0.25rem;
    width: 100%;
}

.divider {
    border: 0;
    height: 1px;
    background-color: var(--clr-txt-dark);
    margin: 3rem 1rem;
}

.docs-ctn {
    display: grid;
    grid-template-areas: 
    "aside aside comp comp comp comp"
    "aside aside comp comp comp comp"
    "aside aside comp comp comp comp"
    "aside aside comp comp comp comp"
    "aside aside comp comp comp comp"
    "aside aside comp comp comp comp";
}

.docs-ctn aside.docs-sidebar {
    grid-area: aside;
    background-color: var(--clr-background-light);
    padding: 1rem 2rem;
    position: sticky;
    top: 0rem;
    height: calc(100vh - 2rem);
}

aside.docs-sidebar h3 {
    padding-top: 1rem 0;
}

aside.docs-sidebar .components-link {
    display: flex;
    flex-direction: column;
}

aside.docs-sidebar .components-link a{
    color: var(--clr-txt-dark);
    padding: 0.625rem;
}

aside.docs-sidebar .components-link a:hover{
    color: var(--clr-primary);
    background-color: var(--clr-primary-light);
    border-radius: 0.25rem;
}

.docs-ctn .docs-component {
    grid-area: comp;
}

/* alert */
.alert-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-primary);
    color: #fff;
    padding: 2rem 0;
}

footer .footer-links a{
    color: #fff;
    padding-right: 0.875rem;
    font-size: 1.5rem;
}

footer p.copyright {
    font-size: 0.875rem;
}

/* Media queries */
@media screen and (max-width: 800px) {
    body {
        width: 100%;
    }

    header nav {
        display: none;
    }

    header button.mobile-sidebar-toggle {
        display: block;
    }

    .docs-ctn {
        display: grid;
        grid-template-areas: 
        "comp";
    }
    
    .docs-ctn aside.docs-sidebar {
        display: none;
    }
}