@import "../base-style.css";
@import "../components/components.css";
@import "../style.css";

.component-box-border {
    border: 0.125rem solid #dee2e6;
    border-radius: 0.25rem;
}

.divider {
    border: 0;
    height: 1px;
    background-color: var(--clr-txt-dark);
    margin: 3rem 1rem;
}

.docs-ctn {
    display: grid;
    grid-template-areas: 
    "aside aside comp comp comp comp"
    "aside aside comp comp comp comp"
    "aside aside comp comp comp comp"
    "aside aside comp comp comp comp"
    "aside aside comp comp comp comp"
    "aside aside comp comp comp comp";
}

.docs-ctn aside.docs-sidebar {
    grid-area: aside;
    background-color: var(--clr-background-light);
    padding: 1rem 2rem;
    position: sticky;
    top: 0rem;
    height: calc(100vh - 2rem);
}

aside.docs-sidebar h3 {
    padding-top: 1rem 0;
}

aside.docs-sidebar .components-link {
    display: flex;
    flex-direction: column;
}

aside.docs-sidebar .components-link a{
    color: var(--clr-txt-dark);
    padding: 0.625rem;
}

aside.docs-sidebar .components-link a:hover{
    color: var(--clr-primary);
    background-color: var(--clr-primary-light);
    border-radius: 0.25rem;
}

.docs-ctn .docs-component {
    grid-area: comp;
}

/* alert */
.alert-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-primary);
    color: #fff;
    padding: 2rem 0;
}

footer .footer-links a{
    color: #fff;
    padding-right: 0.875rem;
    font-size: 1.5rem;
}

footer p.copyright {
    font-size: 0.875rem;
}

/* code block */
.docs-code-block, iframe {
    width: 100%
}